*{margin: 0px;
padding: 0px;}
body{
    background-color: black;
}

.first{
    /* border-radius: 20px; */
    /* margin-top: 100px; */
    margin: 50px auto;
    padding: 0px;
    height: 800px;
    width: 1000px;
    /* border: 1px solid; */
    background-image: radial-gradient(rgb(65, 65, 65), rgb(0, 0, 0));
    box-shadow: 1px 1px 15px yellowgreen;
    
}
.second{
    height: 400px;
    width: 266px;
    /* border: 1px solid rgb(163, 157, 157); */
    /* background-color: rgb(94, 74, 74); */
    margin-top: 100px;
    margin-left: 50px;
    background-image: url(./p1.jpg);
    background-size: 400px 180px;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0), -5px -5px 15px white;
    float: left;
    transition: transform 0.5s;
    cursor: pointer;
 
}
 .second:hover {
    transform: rotate(10deg) scale(1.1);
    background-color: black;
  
        /* transform: translateX(10px) rotate(7deg);
        background-position: fixed;
        background-color: black;
         */
        
    }
.span1{
    display: inline-block;
    margin-top: 200px;
    margin-left: 10px;
    color: rgb(255, 0, 0);
}
.span1{
    /* display: inline; */
    margin-top: 200px;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.text{
    color: white;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p{
    text-align: justify;
    color: aliceblue;
    padding: 10px;
    font-size: 14px;
}
.third{

    height: 400px;
    /* display: grid; */
    width: 266px;
    /* border: 1px solid red; */
    margin-top: 100px;
    margin-left: 50px;
    background-image: url(./p2.jpg);
    background-size: 400px 180px;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgb(187, 255, 0), -5px -5px 15px white, 10px -10px 15px red;
    /* perspective: 1400px; */
    transition: transform 0.5s;
    cursor: pointer;
    float: left;
    

    

    }
    .third:hover {
        transform: rotate(10deg) scale(1.1);
        background-color: black;}
   
    .span2{
        display: inline-block;
        margin-top: 200px;
        margin-left: 10px;
        color: rgb(255, 0, 0);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    .text2{
            color: white;
            margin-left: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }


    .four{
        display: inline-block;
        height: 400px;
        width: 266px;
        border: 1px solid red;
        margin-top: 100px;
        margin-left: 50px;
        background-image: url(./p3.jpg);
        background-size: 400px 180px;
        background-repeat: no-repeat;
        transition: transform 0.5s;
        cursor: pointer;
        float: left;
        border-radius: 20px;
        box-shadow: 4px 4px 15px rgb(251, 255, 241)

    }
    .four:hover{
        transform: rotate(10deg) scale(1.1);
        background-color: black;
    }
    .span3{
        display: inline-block;
        margin-top: 200px;
        margin-left: 10px;
        color: rgb(255, 0, 0);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

    .text3{
            color: white;
            margin-left: 10px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
  
    .navbar{
          background-color: rgba(255, 196, 0, 0.747);
            /* padding: px; */
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding-top: 20px;
            padding-bottom: 20px;
            text-shadow: 1px 1px 3px white;
         
        }
     
   
    
        ul{
            list-style: none;
            
            }
            
        ul :hover{
            background-color: rgb(255, 255, 255);
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
          
        }
    li{
        display: inline;
        margin: 0px 20px 0px 0px;
       
     
        
    }
    li :hover{
        background-color: black;
        
        
    }
.cards{
    color: aliceblue;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 10px red;
    cursor: pointer;

   
}
.cards :hover{
    color: red;
    text-shadow: 2px 2px 10px white;

}

 
 